body {
    font-family: "Open Sans", "PT Sans", Calibri, Tahoma, sans-serif;
    text-align: center
}

.vertical-pad {
    margin: 0 auto;
    position: absolute;
    top: 10%;
    width: 100%;
    -ms-transform: translateY(-10%);
    transform: translateY(-10%)
}

h1 {
    font-size: 2.5em;
    font-weight: 500;
    margin: .5em 0;
    letter-spacing: -.5px;
    position: relative;
    max-width: 400px;
    display: inline;
    padding: 0 8px;
    transition-duration: 200ms;
    cursor: grab
}

h1::before {
    transform: scaleX(0);
    transform-origin: bottom right;
    border-radius: 12px;
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #e74949;
    z-index: -1;
    transition: transform 300ms ease
}

h1:active::before {
    transform: scaleX(1);
    transform-origin: bottom left
}

h1:active {
    color: #f5f5f5;
    cursor: grabbing
}

#password,
button {
    border-color: #c9c9c9;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    transition-duration: 150ms
}

#password {
    font-size: 1.5em;
    font-weight: 300;
    margin: .5em auto;
    font-family: "Courier New", Courier, monospace;
    max-width: 316px;
    padding: 4px;
    min-width: 100px;
    letter-spacing: .5px;
    cursor: text
}

#password:hover {
    box-shadow: 0 0 6px 0#cfeaff inset;
    max-width: 350px
}

body,
button {
    background-color: #f5f5f5
}

button {
    font-size: 1em;
    width: 128px;
    padding: 6px 8px;
    margin: 0 4px;
    line-height: 20px;
    height: 60px;
    cursor: pointer
}

#password:hover,
button:active,
button:hover {
    border-color: #e74949
}

button:active {
    background-color: #e74949;
    color: #f5f5f5
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

#source {
    margin-top: 8px;
    max-width: 256px;
    width: 100%;
    height: 40px
}

@media screen and (max-width:576px) {
    .buttons {
        display: block
    }

    button {
        margin: 4px auto
    }

    #source {
        height: 64px
    }

    h1 {
        font-size: 10vw
    }
}